.map {
  height: 100%;
  position: relative;
  margin-left: 28%;
  background: #D3D3D3 url() center center no-repeat;
  background-size: cover;
}

.map-options {
  position: absolute;
  top: 3em;
  left: 2em;
}

/* Media Queries */

@media screen and (max-width: 745px) {

.map {
  margin: 0;
}

}
