nav {
  background-color: #DD7265;
}

.logo {
  display: block;
  float: left;
  height: 3em;
}

.menu {
  float: right;
  height: 1em;
  margin: 1em;
}

.navbar > li { float: right; }

.navbar > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 0.75em;
  text-decoration: none;
}

/* Media Queries */

@media screen and (max-width: 480px) { /* mobile */

  .logo {
    float: none;
    margin: 0 auto 0;
  }

  .navbar > li {
    width: 33%;
  }

}

@media screen and (max-width: 780px) { /* tablets */ }

@media screen and (max-width: 480px) { /* large */



}
